## generic files to ignore
*~
*.DS_Store
*.swp
*.out
out/*
build/

# java specific
*.class

# akka specific
logs/*

# eclipse specific
.metadata
jrebel.lic
.settings
.classpath
.project

.ensime*
*.sublime-*
.cache

# intellij
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea

# paulp script
/.lib/

# gradle
.gradle

## Ignore Gradle GUI config
gradle-app.settings

## Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

## Cache of project
.gradletasknamecache

## Compiled java objects
classesa

## Node modules
node_modules/

## Npm specific
*.log
