body, html {
  height: 100%;
  margin: 0;
  background-color: black;
}

.bgimg {
  position: fixed;
  left: 0;
  right: 0;
  height: calc(150% + 11px);

  background-position: center;
  background-size: cover;
  background-color: black;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  overflow: hidden;
  margin: -5px -10px -5px -10px;

  -webkit-animation: fadein 2.2s ease-in, slowmove 40s linear;
  -moz-animation: fadein 2.2s ease-in, slowmove 40s linear;
  -ms-animation: fadein 2.2s ease-in, slowmove 40s linear;
  -o-animation: fadein 2.2s ease-in, slowmove 40s linear;
  animation: fadein 2.2s ease-in, slowmove 40s linear;
}

/* BG FadeIn keyframes */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* BG slowmove keyframes */
@keyframes slowmove {
  from { transform: scale(1.1, 1.1) translateX(-5%);}
  to   { transform: scale(1.3, 1.3) translateX(5%); }
}
@-moz-keyframes slowmove {
  from { -moz-transform: scale(1.1, 1.1) translateX(-5%);}
  to   { -moz-transform: scale(1.3, 1.3) translateX(5%); }
}
@-webkit-keyframes slowmove {
  from { -webkit-transform: scale(1.1, 1.1) translateX(-5%);}
  to   { -webkit-transform: scale(1.3, 1.3) translateX(5%); }
}
@-ms-keyframes slowmove {
  from { -ms-transform: scale(1.1, 1.1) translateX(-5%);}
  to   { -ms-transform: scale(1.3, 1.3) translateX(5%); }
}
@-o-keyframes slowmove {
  from { -o-transform: scale(1.1, 1.1) translateX(-5%);}
  to   { -o-transform: scale(1.3, 1.3) translateX(5%); }
}

.main-content {
  height: 100%;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  text-shadow: 0px 0px 10px black;
}

.countdown {
  width: 20ch;
  margin-left: auto;
  margin-right: auto;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  border-top-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 30px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.middle p {
  font-size: 30px;
}
.middle h1 {
  font-size: 200%;
}

hr {
  margin: auto;
  width: 40%;
}

/* remove the underline link style */
a:focus, a:hover, a {
  text-decoration: none;
  cursor: pointer
}

.githubLink {
  color: #87CEEB!important
}
.githubLink:hover {
  color: #3f51b5!important
}

.medium-text {
  font-size: 20px;
}

.small-text {
  font-size: 15px;
}

.agendaIconLink {
  border-radius: 50%;
  margin: auto;
  max-height: 30px;
  max-width: 50px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  border: 1px solid rgba(158, 158, 158, 0.3);
  cursor: pointer;
  transition: 0.4s;
}

#audioButton {
  border-radius: 50%;
  cursor: pointer;
  color: #ffffff;
  transition: 0.4s;
}

#audioButton:hover {
  opacity: 0.7;
  background: #ffffff;
  color: #000000;
}

/*
 * Width:   [X, X]
 * Height:  [361,  520]
 */
@media only screen
  and (max-height: 520px) and (min-height: 361px) {
    .middle h1{
      font-size: 125%;
    }
    .middle p{
      font-size: 20px;
    }
    .medium-text {
      font-size: 20px;
    }
    .small-text {
      font-size: 10px;
    }
}

/*
 * Width:   [X, X]
 * Height:  [0,  360]
 */
@media only screen and (max-height: 360px) {
  .middle h1{
    font-size: 105%;
  }
  .middle p{
    font-size: 15px;
  }
  .medium-text {
    font-size: 15px;
  }
  .small-text {
    font-size: 10px !important;
  }
}

/*
 * Width:   [0, 450]
 * Height:  [X, X]
 */
@media only screen and (max-width: 450px) {
  .middle h1{
    font-size: 105%;
  }
  .middle p{
    font-size: 15px;
  }
  .medium-text {
    font-size: 15px;
  }
  .small-text {
    font-size: 10px !important;
  }
}
