body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  height: calc(100% + 11px);

  background-position: center;
  background-size: cover;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  overflow: hidden;
  margin: -5px -10px -10px -5px;
}

.main-content {
  height: 100%;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  text-shadow: 0px 0px 10px black;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  border-top-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 30px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.middle p {
  font-size: 30px;
}
.middle h1 {
  font-size: 200%;
}

hr {
  margin: auto;
  width: 40%;
}

/* remove the underline link style */
a:focus, a:hover, a {
  text-decoration: none;
  cursor: pointer
}

.githubLink {
  color: #87CEEB!important
}
.githubLink:hover {
  color: #3f51b5!important
}

#small-text {
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .middle h1{
    font-size: 125%;
  }
  .middle p{
    font-size: 20px;
  }
  #small-text {
    font-size: 10px;
  }
}
