body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url('../images/background.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.middle p {
  font-size: 30px;
}
.middle h1 {
  font-size: 200%;
}

hr {
  margin: auto;
  width: 40%;
}

/* remove the underline link style */
a:focus, a:hover, a {
  text-decoration: none;
  cursor: pointer
}

.githubLink {
  color: #3f51b5!important
}
.githubLink:hover {
  color: #87CEEB!important
}

#small-text {
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  .middle h1{
    font-size: 125%;
  }
  .middle p{
    font-size: 20px;
  }
  #small-text {
    font-size: 10px;
  }
}
